{:deps {:aliases [:dev]}
 :nrepl {:port 12000}
 :builds
 {:notebook-esm
  {:target :esm
   :output-dir "lib"
   :modules {:notebook {:exports {default notebook/extension}}}
   :runtime :browser
   :js-options {:js-provider :import}}}}
